<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hallaji.alfred.notion</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>044ED866-93C1-48B5-A0FB-5B5597132017</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16DC9FAC-5010-4824-BD73-D201ABFFAD5A</string>
				<key>disabled</key>
				<true/>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Open URL in the default browser</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3553349A-C633-4960-ACD0-F021E89C3428</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Open URL in the personal profile</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>23ED8A73-6620-4395-9185-8A2C57DE12D4</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open URL in the work profile</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vahid Hallaji</string>
	<key>description</key>
	<string>Search bookmarks in Notion</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Notion</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>16DC9FAC-5010-4824-BD73-D201ABFFAD5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -na 'Brave Browser' --args --profile-directory="Default" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3553349A-C633-4960-ACD0-F021E89C3428</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>b</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>notion-bookmarks.rb</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Bookmarks</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>044ED866-93C1-48B5-A0FB-5B5597132017</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -na 'Brave Browser' --args --profile-directory="Profile 1" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>23ED8A73-6620-4395-9185-8A2C57DE12D4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search your bookmark database in Notion by using tag or name properties. This feature allows you to easily retrieve the websites you need by filtering through specific keywords or tags that you have assigned to them. With the ability to search your bookmarks in Notion directly from Alfred, you can save time and streamline your workflow.</string>
	<key>uidata</key>
	<dict>
		<key>044ED866-93C1-48B5-A0FB-5B5597132017</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>16DC9FAC-5010-4824-BD73-D201ABFFAD5A</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>23ED8A73-6620-4395-9185-8A2C57DE12D4</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>3553349A-C633-4960-ACD0-F021E89C3428</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>NOTION_BOOKMARKS_DATABASE_ID</key>
    <string><%= ENV["NOTION_BOOKMARKS_DATABASE_ID"] %></string>
		<key>NOTION_API_KEY</key>
    <string><%= ENV["NOTION_API_KEY"] %></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>NOTION_BOOKMARKS_DATABASE_ID</string>
		<string>NOTION_API_KEY</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://hallaji.com</string>
</dict>
</plist>
